# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment Variables & Databases
.env
.env.local
*.db
*.sqlite

# IDE
.vscode/
.idea/
.DS_Store